.title {
  margin-top: 30vh;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: lighter;
}


.graphic {
  width: 20vw;
  height: 20vh;
  border: 1px solid green;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}